.gap {
  padding-top: 15px;
}

.blogList {
  padding: 15px 20px;
  background-color: white;
  margin-bottom: 12px;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .5s;
}

.blogList:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
