* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #f7f7f7;
}

.gap {
  padding-top: 15px;
}

.nav {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 19px 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav_menu {
  display: flex;
  gap: 1rem;
}

.nav_menu a {
  text-transform: capitalize;
}

.nav_menu a:hover {
  color: blue;
}

.page_body {
  padding: 25px 35px;
}
